/* reset */

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

:root {
  --surface-ground: #111827;
  --surface-card: #1f2937;
  --card-border-color: #424b57;
  --button-background-color: #60a5fa;
  --button-background-on-hover: #93c5fd;
  --list-item-focused-background: rgba(96, 165, 250, 0.16);
  --text-color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background: var(--surface-ground);
  color: var(--text-color);
}

.add-control {
  z-index: 100;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background: var(--card-border-color);
}

.add-control:hover {
  cursor: pointer;
  opacity: .8;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.arrange-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.pick-list-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  gap: 10px;
}

.pick-list-buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 6px;
  background: var(--button-background-color);

  transition: background .2s;
}

.pick-list-buttons > button:enabled:hover {
  cursor: pointer;
  background: var(--button-background-on-hover);
}

.pick-list {
  width: 282px;
  background-color: var(--surface-card);
  border: 1px solid var(--card-border-color);
  border-radius: 6px;
}

.pick-list__header {
  font-weight: 700;
  padding: 10px;
  border-bottom: 1px solid var(--card-border-color);
}


.pick-list__filter-container {
  padding: 1.25rem;
  border-bottom: 1px solid var(--card-border-color);
}

.pick-list__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  background: var(--surface-ground);
}

.pick-list__filter > input {
  width: 100%;
  background: transparent;
  color: var(--text-color);
  padding: 5px;
}

.pick-list__filter > span {
  font-size: 20px;
}

.pick-list__items {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pick-list__item {
  overflow: hidden;
  padding: 0.75rem 1.25rem;
  background: transparent;
  cursor: move;
  user-select: none;
}

.pick-list__item:hover {
  background: rgba(255, 255, 255, 0.03);
}

.pick-list__item.focused {
  background: var(--list-item-focused-background);
}

.pick-list__item__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pick-list__item__img {
  width: 60px;
  height: 40px;
  border-radius: 6px;
}

.pick-list__item__info {
  font-size: 15px;
}

.pick-list__item__add-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pick-list__item__price {
  font-weight: 700;
}


@media screen and (max-width: 900px) {
  .arrange-box {
    flex-direction: column;
  }

  .pick-list-buttons {
    flex-direction: row;
    margin: 20px 0;
  }
}